html,
body {
    height: 100%;
    background-color: rgb(168, 155, 155);
}

html {
    display: table;
    margin: auto;
}

body {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding-bottom: 100px;
}

#gridContainer {
    padding: 10px;
    display: inline-grid;
    background-color: inherit;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 5px;
    height: 700px;
    width: 700px;
    box-shadow: 10px 5px 10px -2px #888;


}

.flex-item {
    display: table-cell;
    border: 1px solid #000;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Big Shoulders Stencil Text';
    font-size: 6em;
}

#inputAndButtonContainer {
    text-align: center;
}

button, form {
    font-family: 'Oswald';
    font-size: 1.2em;
    
}

button {
    background-color: rgb(221, 165, 165);
}

button:hover {
    background-color: rgb(161, 118, 118);
}

button:active {
    transform: translateY(3px);
}

redTitle {
    color:red;
}

#rainbowButtonContainer {
    padding : 10px;
}

#rainbowMode {
    background-image: linear-gradient(45deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}

@media screen and (max-width: 800px) {
    #gridContainer {
        width:90%;
        height:90%;
    }
  }